h1 Quadratic Equation
form
  p
    label(for="coefficient-a") A: 
    input(type="text", name="coefficient-a", id="coefficient-a", value=a)
  p
    label(for="coefficient-b") B: 
    input(type="text", name="coefficient-b", id="coefficient-b", value=b)
  p
    label(for="coefficient-c") C: 
    input(type="text", name="coefficient-c", id="coefficient-c", value=c)
  p
    input(type="submit", value="Solve", id="solve")

  if roots
    if roots.length == 0
      p No real root
    else if roots.length == 1
      p Double root: 
        strong= roots[0]
    else if roots.length == 2
      p Two distinct roots: 
        strong= roots[0] 
        |  and
        strong= roots[1]
  p.error