!!!
html
  head
    title= title
    link(rel="stylesheet/less", href="/stylesheets/style.less")
  body!= body

    script(src="/javascripts/less.js")
    script(src="/javascripts/require.js", data-main="javascripts/main")